@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 100%; 
    max-width: 1000px; 
}

.logo-text {
    font-family: 'Norse', sans-serif;
    font-size: 80px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

.left-side {
    position: relative;
    width: 600px; 
}

.bg-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 150px;
}

.logo-images {
    height: 110px;
    width: 80px;
}

.right-side {
    background-color: #F9FAFB;
    width: 1000px;
}

.heading {
    padding: 20px;
}
.heading-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.form-container {
    background-color: #FFFFFF;
}

.form-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    padding-left: 20px;
}

.table_component {
    overflow: auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}

.table_component table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    text-align: left;
}

.table_component td {
    color: #000000;
    padding: 5px;
    width: 50%; 
}

.table_component label {
    display: block; 
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 35px; 
    padding: 5px; 
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

input:focus:valid {
    border-color: blue;
}

input:invalid {
    border-color: red;
}

.input-container {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.error-message {
    color: red; /* Text color for error message */
    font-size: 12px; /* Font size */
    height: 20px; /* Fixed height to avoid layout shifting */
    margin-top: 5px; /* Space between input and error message */
    display: none; /* Hidden by default */
}